body {
  color: #28261c;
  padding: 0 400px;
}

section {
  font-size: 20px;
}

.header-title {
  font-size: 30px;
  text-decoration: underline;
}

.placeholder-article {
  padding: 0 25px;
}

.third-paragraph {
  margin-bottom: 30px;
}

.first-paragraph {
  margin-bottom: 30px;
}
